* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-areas: 
    "navbar navbar"
    "aside main"
    "footer footer";
    grid-template-rows: 15% 1fr 5% ;
    grid-template-columns: 1fr 90% ;
}
.navbar {
    grid-area: navbar; 
    background-image: linear-gradient(to right, #081981, #6e007a, #a40065, #c80047, #da0222);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-size: 40px; 
}
.aside {
    grid-area: aside;
    background-color: lightgray;}
.main {
    grid-area: main;
    /*border: 1px solid black;*/|
    background-color: rgb(254, 250, 250);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
    gap: 20px;}
.footer {
    grid-area: footer;
    border: 1px solid black;
    background-color: rgb(6, 51, 66);
    color: white;
    text-align: center;
}
.lateral {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 15px;
}
.logo {
    width: 150px;
    height: auto;
    border-radius: 10%;
    margin: 5px;
    margin-top: 10px;
}
li {
    font-size: 20px;
    color:rgba(0, 0, 0, 0.832);
}
span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.619);
}
.cart {
    background-color: #e0e1e2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    gap: 15px;
    border-radius: 5px;
    border: rgba(42, 11, 135, 0.553) solid;
}
.creativo {
    width: 100%;
    height: auto;
}
img {
    width: 10px;
    object-fit:contein;
    width: 100%;
    height: 100%;
    }
button {
width: 80%;
    background-image: linear-gradient(to right, #081981, #6e007a, #a40065, #c80047, #da0222);
padding: 10px;
margin: 5px;
    color: white;
    font-size: 15px;
    border-radius: 15px;
}
footer {
    padding: 5px;
    fo
}